h3 {
    display: inline-block;
    background:#9c9c9c;
    color: blueviolet;
    font-size: 23px;
    font-family: "Times New Roman", Times, serif;

}
 
div {
    display: block;
    width: 200px;
	height: 100px;
    margin: 10px 500px;
    align-self: center;
}

